<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LeaderBoard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        <h1>LeaderBoard</h1>
        <ol>
            <% for(let i = 0; i <= 9; i++){ %> 
                <li> <a href="/results?pokemon=<%= i.name  %> "><%= data.data[i].name.charAt(0).toUpperCase()+data.data[i].name.slice(1) %></a> - Score : <%= data.data[i].count %></li>  
            <% } %>
            <% console.log(data.data[2].name) %>
        </ol>   
    </body>
</html>