<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PokeMon Not Found</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    
    <body style='background: url(https://i.pinimg.com/originals/ec/bf/4d/ecbf4d300f4c1c431216466edcfed58c.jpg);'>
        <div style='width: 200px; height: 100px; background: steelblue; margin: 0 auto; border-radius: 20px; margin-top: 200px'>
            <h4 style='color: whitesmoke; padding: 30px 20px;'>Sorry but we could not find your Pokemon <a href="/">Search again</a></h4>
            
        </div>

    </body>

    
    
</html>