<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <style>
        img{
            height:400px;
            width:auto;
        }
    </style>
    <body>
    <form action='/results' method='GET'>
        <input type="text" name="pokemon" placeholder="Enter first Pokemon">
        <button type="submit">Submit</button>
    </form>
    </body>
</html>